apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: http-tracer
  namespace: kube-system
  labels:
    app: http-tracer
spec:
  selector:
    matchLabels:
      app: http-tracer
  template:
    metadata:
      labels:
        app: http-tracer
    spec:
      serviceAccountName: http-tracer
      hostNetwork: true
      hostPID: true
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      containers:
      - name: tracer
        image: classikh/http-tracer:v7
        imagePullPolicy: Always
        securityContext:
          privileged: true
          capabilities:
            add:
            - SYS_ADMIN
            - SYS_RESOURCE
            - NET_ADMIN
            - BPF
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        volumeMounts:
        - name: bpffs
          mountPath: /sys/fs/bpf
          mountPropagation: Bidirectional
        - name: debugfs
          mountPath: /sys/kernel/debug
        - name: cgroup
          mountPath: /sys/fs/cgroup
          readOnly: true
        - name: traces
          mountPath: /var/log/http-tracer
      volumes:
      - name: bpffs
        hostPath:
          path: /sys/fs/bpf
          type: DirectoryOrCreate
      - name: debugfs
        hostPath:
          path: /sys/kernel/debug
          type: Directory
      - name: cgroup
        hostPath:
          path: /sys/fs/cgroup
          type: Directory
      - name: traces
        hostPath:
          path: /var/log/http-tracer
          type: DirectoryOrCreate
